.main-page-wrapper {
    padding-top: 3%;
}
.page-title {
    min-height: 352px;
}

.header-spacing {
    margin-bottom: 7 !important;
}

@media only screen and (max-width: 620px) and (min-width: 5px) {

    h2.page-title-inner {
        padding-top: 13% !important; 
    }
    .page-title {
        min-height: 151px !important;
    }
    p.page-subtitle {
        margin-bottom: 0px !important;
    }
}

