.main-nav.site-navigation.basel-navigation.menu-left {
    width: 30%;
}
.main-header .right-column {
    width: 30%;
}
.header-shop .site-logo {
    width: 40%;
}
.header-shop .main-nav .menu>li>a {
    text-transform: capitalize;
    font-size: 16px;
    
}
a.basel-logo.basel-main-logo:hover {
    text-decoration: none;
}
a.basel-logo.basel-main-logo {
    letter-spacing: 6px;
}


/* banner pricipal */
.wrapper-content-baner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #26232363, transparent);
}
.nt_banner_img.banner-image {
    filter: saturate(1.5);
}

.visible-pc.hidden-tb.hidden-mb h1 {
    font-size: 37px;
}
/* banner pricipal */



/* section products */
a.botonMas {
    background: #d9d9d9;
    color: #000000;
    padding: 12px 24px 12px 24px;
}

.promo-banner {
    filter: saturate(1.5);
}


/**section information**/
p.about-me {
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 5px;
}