.main-nav.site-navigation.basel-navigation.menu-left {
    width: 30%;
}
.main-header .right-column {
    width: 30%;
}
.header-shop .site-logo {
    width: 40%;
}
.header-shop .main-nav .menu>li>a {
    text-transform: capitalize;
    font-size: 16px;
    
}
a.basel-logo.basel-main-logo:hover {
    text-decoration: none;
}
a.basel-logo.basel-main-logo {
    letter-spacing: 6px;
}


/* banner pricipal */
div#blockId_1547774947330 .wrapper-content-baner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #26232363, transparent);
}
.nt_banner_img.banner-image {
    filter: saturate(1.5);
}

.visible-pc.hidden-tb.hidden-mb h1 {
    font-size: 37px;
}
/* banner pricipal */



/* section products */
a.botonMas {
    background: #d9d9d9;
    color: #000000;
    padding: 12px 24px 12px 24px;
}

.promo-banner {
    filter: saturate(1.5);
}

h3.product-title a {
    letter-spacing: 2px;
    font-weight: 760;
    text-transform: uppercase;
}
.owl-carousel-item-inner span.price {
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
}
/* section products */

/**section information**/
p.about-me {
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 5px;
}
h1.about-me-tilte {
    font-weight: 600;
    letter-spacing: 6px;
}
p.text-content {
    font-size: 17px;
}
a.read-more {
    font-size: 17px;
    text-decoration: underline;
}
header.entry-header .post-mask {
    text-align: left;
}
article .entry-content {
    text-align: left;
}

/*footer    */
.footer-sidebar.widget-area.row {
    display: flex
;
    justify-content: space-between;
}
ul.social-icons.text-center.social-share.icons-design-default.icons-size-default {
    margin-top: 18px;
}
.redes-sociales ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Muestra los elementos en línea */
    justify-content: center; /* Centra los iconos horizontalmente (opcional) */
  }
  
  .redes-sociales li {
    margin: 0 8px; /* Espacio entre iconos */
  }
  
  .redes-sociales a {
    color: #333;
    font-size: 19px; /* Tamaño de los iconos */
    transition: color 0.3s ease;
  }
  
  .redes-sociales a:hover {
    color: #007bff; /* Cambia el color al pasar el mouse */
  }
  .redes-sociales {
    margin-top: 22px;
}
  
  /* Opcional: Estilos específicos para cada red social */
  .redes-sociales a[href*="instagram.com"] { color: #E4405F; } /* Color de Instagram */
  redes-sociales a[href*="youtube.com"] { color: #FF0000; } /* Color de YouTube */
  redes-sociales a[href*="tiktok.com"] { color: #000000; } /* Color de TikTok */
  redes-sociales a[href*="twitter.com"] { color: #1DA1F2; } /* Color de Twitter */
  redes-sociales a[href*="facebook.com"] { color: #1877F2; } /* Color de Facebook */